<!doctype html>
<html ng-app="Riadd">
<head>
	<meta charset="utf-8" />

	<title>AngularJS Routing</title>

	<style type="text/css">

		a {
			color: #333333 ;
			}

		a.on {
			color: #CC0000 ;
			font-weight: bold ;
			text-decoration: none ;
			}

	</style>
	<!-- Load AngularJS from the CDN. -->
	<script
		type="text/javascript"
		src="lib/angular/angular.min.js">
	</script>
	<script type="text/javascript" src="lib/mongolabResourceHttp.js"></script>
	<script type="text/javascript" src="lib/l10n/l10n-with-tools.js"></script>
<script type="text/javascript" src="js/script.js"></script>
<script type="text/javascript" src="js/service.js"></script>
<script type="text/javascript" src="js/controllers.js"></script>

</head>
<body ng-controller="AppController">

	<h1>
		AngularJS Routing
	</h1>

	<p>
		Current Render Action:

		<!--
			We're going to bind the content of the Strong element to
			the scope-level model, renderAction. Then, when this gets
			set in the Controller, it will be updated here.
		-->
		<strong ng-bind="renderAction">Unknown</strong><br/>
		View in <a href="#" ng-click="toggleLocale()" l10n-text="locale.toggleLocale"></a>
	</p>

	<!--
		For the navigation, we'll be conditionally adding the "on"
		class based on the state of the current scope.
	-->
	<p>
		<a href="#/home" ng-class="{ on: isHome }" l10n-text="document.home"></a> -
		<a href="#/friends" ng-class="{ on: isFriends }" l10n-text="document.friends"></a> -
		<a href="#/contact/ben" ng-class="{ on: isContact }" l10n-text="document.contact"></a>
	</p>

	<!--
		When the route changes, we're going to be setting up the
		renderPath - an array of values that help define how the
		page is going to be rendered. We can use these values to
		conditionally show / load parts of the page.
	-->
	<div ng-switch on="renderPath[ 0 ]">

		<!-- Home Content. -->
		<div ng-switch-when="home">

			<p>
				This is the homepage content.
				<ul>
				<li ng-repeat="tagz in tags">
					{{tagz.tag}}
				</li>
			</ul>
			</p>

			<p>
				Sub-path: <em>{{ renderPath[ 1 ] }}</em>.
			</p>

		</div>

		<!-- Friends Content. -->
		<div ng-switch-when="friends">

			<p>
				Here are my friends!
			</p>

			<p>
				Sub-path: <em>{{ renderPath[ 1 ] }}</em>.
			</p>

		</div>

		<!-- Contact Content. -->
		<div ng-switch-when="contact">

			<p>
				Feel free to contact me.
			</p>

			<p>
				Sub-path: <em>{{ renderPath[ 1 ] }}</em>.
			</p>

			<p>
				Username: <em>{{ username }}</em>
			</p>

		</div>

	</div>


	

</body>
</html>